@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300&family=Darker+Grotesque&family=Poppins:ital,wght@1,300&family=Work+Sans&display=swap');

*{font-family: 'Poppins', sans-serif;
  margin: 0%;
  padding: 0%;
}

/*tamaño desktop*/

.divBody{
     font-size:large;
     display:grid;
     width:100;
     grid-template-rows: auto 1fr auto;
     background-image:linear-gradient(to left bottom, #ecb5e3, #d6bff6, #bbc9ff, #a1d2ff, #8edafb, #91dcfc, #95ddfd, #98dffe, #aedbff, #c8d6ff, #e2d1ff, #f8cdf4);
    } 
.logoNav{
    display: flex;
    justify-content:space-around;
    background-color: #f8cdf43a;

}
.encabezadoLogo{
    
    margin-top: 0%;
    width: 30%;
    
}   
.h1Principal{

    text-align: center;
    margin: 5%;
 }
.listaNavegacion a{
    
    text-decoration: none;
    display: inline-block;
    margin: 3.5%;
     
}

.quedado{
    padding: 3.5%;
    width: 80%;
    text-align: right;
    top: 0px;
    z-index: 10;
     
}

.whatsapp{
position: fixed;
bottom: 10px;
right: 10px;
}
      
.listaNavegacion2 a{
    text-decoration: none;

}
.listaNavegacion2{
        display: flex;
    justify-content: space-evenly;

}
.redes a{
    margin: 3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.ubicacion{
margin-bottom: 2%;
}

/*animaciones*/

.whatsapp2:hover{
    transform: rotate(30deg);
    transition: rotate 2s;
} 

.mail:hover{
    transform: rotate(-30deg);
    transition: rotate 2s;
} 
.instagram:hover{
    transform: rotate(30deg);
    transition: rotate 2s;
} 

.facebook:hover{
    transform: rotate(-30deg);
    transition: rotate 2s;
} 

.link1:hover{
    transform: scale(1.5, 1.5);
    transition: scale 2s;
} 
.link2:hover{
    transform: scale(1.5, 1.5);
    transition: scale 2s;
} 
.link3:hover{
    transform: scale(1.5, 1.5);
    transition: scale 2s;
} 

.link4:hover{
    transform: scale(1.5, 1.5);
    transition: scale 2s;
} 

.link5:hover{
    transform: scale(1.5, 1.5);
    transition: scale 2s;
} 

h1 {
    font-size: 1.5rem;
}
.h4{
    font-size: 0,8rem;
    margin: 10rem;
    padding:1.5rem;
}

/*tamaño smartphone*/ 
@media screen and (max-width:480px) {
 .divBody{
    font-size: small;   
}   
}
   

/*tamaño tablet*/

@media screen and (max-width:768px) {
    .divBody{
        font-size: smaller;
    
    
    }


}
   
    