$fuentes_grosor:bold;
$bordes:5px solid white;
$flex : flex;
$center:center;
$row: row;
$space-around :space-around;
$space-between:space-between;
$column:column;
$space-evenly:space-evenly;
$text-align: center;

/*maps*/
$bordes:(
    borde-solid-principal :  1px solid black,
    borde-solid-dospx:  2px solid black,
    borde-solid-trespx:  3px solid black,
);

$map-flex:(
    flex: flex,
    row: row,
    column: column,
    space-around: space-around,
    space-between: space-between,
    space-evenly: space-evenly,
    center: center,
);


$fuentes:(
    thin:100,
    light:300,
    regular:400,
    medium:500,
    bold:700,
    black:900
);

$sizes:(
    catorce: 14px,
    16 : 16px,
    20 :20px,
    10 : 10px
);

$estilos: (
  color: #3673D9,
  centro: center,
  tFuente: 35px,
  1rem : 1rem
);